/* main stylesheet */

body {
	margin:0;
	padding:0;
	font-family: sans-serif;
}

section {
	display: inline-block;
	width:49%;
	margin:0;
	padding:0;
	text-align: center;
	vertical-align: top;
}

div.mirror {
	display:inline-block;
	width:372px;
	height:600px;
	border:3px solid #ccc;
	background:#eae9e9;
	box-shadow: #eee 3px 3px 5px;
}

.mirror .free {
	position: absolute;
}

div.bracelet {
	position: relative;
	display: inline-block;
	width:270px;
	height:600px;
	background: url("../img/bracelet_bg.jpg") center no-repeat;
}

.bracelet .LED {
	position: absolute;
	top:300px;
	left:30px;
	width:15px;
	height: 15px;
	background:#ccc;
	border-radius:8px;
	border:2px solid #aaa;
}

nav ul, nav * {
	list-style: none;
	margin:0;
	padding: 0;
}

nav > ul > li {
	display:inline-block;
	vertical-align: top;
	margin:3px 5px;
	padding:3px;
	width:40px;
	background:#fff;
	border-radius:20px;
	overflow:hidden;
}

nav .amount_issues {
	position:absolute;
	display: block;
	width:14px;
	height:14px;
	margin:-1px 32px;
	font-size:10px;
	color:#fff;
	text-shadow:#000 0 0 2px;
	border-radius:14px;
}

nav img {
	width:20px;
	margin:3px;
	cursor: pointer;
	opacity:.4;
}

nav .self img {
	opacity: 1;
}

nav li ul {
	display:none;
	color:#000;
}

nav li.active {
	box-shadow: 0 0 3px;
}

nav li.open ul {
	display:block;
}

.big_userpic {
	display:inline-block;
	width:100px;
	height: 100px;
	border-radius:75px;
	background:#fff;	
}

#loudnessIndikator {
		background:red;
		width:1px;
		height:0.1px;
		margin-left:100px;
		transform: scale(200);
	}