<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>grownect</title>
	<link rel="stylesheet" type="text/css" href="./style/stylesheet.css">

<script src="./js/jquery-1.10.2.js" type="text/javascript"></script>
<script type="text/javascript">


</script>
</head>
<body bgcolor="black";>

	<div id="kopfleiste">
		<a href="./trailer.html"><img src="Bilder/Logo grownect.png" height="60" style="margin-left:20px"></a>
	</div>
	

<!--<div id="infobox">
<ul>
	<li><strong>Schema</strong></li>
	<br> 
	<li> Notizen stehen immer hier -
		<br> zu einzelnen Elementen.</li> 
</ul>
</div>-->


<div id="menu">
		<ul>
			<li><a href="trailer.html">Trailer</a></li>
			<li><a href="connect.html">Connect</a></li>
			<li class="active"><a href="recherche.html">Recherche</a></li>
			<li><a href="konzept.html">Konzept</a></li>
			<li><a href="interaktion.html">Interaktion</a></li>
			<li><a href="technik.html">Technik</a></li>
			<li><a href="design.html">Design</a></li>
			<li><a href="management.html">Management</a></li>
			<li><a href="kontakt.html">Kontakt</a></li>
		</ul>
	</div>
<div id="inhalt">
		<h2>VERHALTEN UND GEWOHNHEITEN</h2>

		<p>Jedem Menschen ist seine Gesundheit mit das höchste Gut auf Erden. Trotzdem agieren wir oftmals leichtsinnig und unvernünftig. Es stellt sich die Frage, wie eine Verbindung zwischen einer gewissen Haltung und Verhalten herstellt werden kann. Zwischen Denken und Handeln steht das Gefühl. Menschliches Verhalten wird durch Gefühle gesteuert und jeder Gedanke einer gefühlsmäßigen Bewertung unterzogen. Sobald die Bewertung einen positiven Wert hat und man sogar Spaß daran hat Ziele zu erreichen, kann sie angestrebt werden. Eine Erkenntnis selbst ist nicht die Herausforderung, sondern eher die eigentliche Umsetzung des Wunsches. Jedoch ist der Mensch ein Gewohnheitstier, was es dem Menschen schwieriger erscheinen lässt, Dinge zu ändern. Sobald man jedoch ein bestimmtes Verhalten neu erlernt hat, wird es schlussendlich zum Automatismus und somit einfacher.
<br><br>
Wissenschaftler belegen, dass <strong>Verhalten</strong> bis zu 60% genetisch bedingt ist. Bestimmte Charaktermerkmale wie beispielsweise Geselligkeit, Selbstbewusstsein oder Gewissenhaftigkeit können denen der Eltern entsprechen. Es ist jedoch unabhängig davon, um welche Charakterzüge es sich bei der Vererbung  handelt. <br><br>
Hinsichtlich der menschlichen Entwicklung wird man allerdings keinen Einfluss nehmen können, da jeder Mensch ein Individuum ist und unterschiedliche Entwicklungsstadien bezüglich der Erziehung durchläuft. <br><br>
<strong>Gewohnheiten</strong> können demnach einerseits genetisch bedingt sein als auch entwicklungsbezogen.
<br><br>
Laut einer Studie, in der zwischen automatischem und dem Einüben von Verhalten unterschieden wurde, wurde eine Durchschnittsdauer von 66 Tagen festgestellt, um beispielsweise negative Gewohnheiten mit positiven zu überlagern. Dies kann jedoch zwischen 18 und 254 Tagen variieren. Es kommt hierbei auf die Art des Verhaltens und der Gewohnheit an. Sich anzugewöhnen, jedes mal nach dem Verlassen eines Raumes das Licht auszuschalten, sollte einfacher umsetzbar sein, als täglich einer selbstauferlegten Verpflichtung wie zum Beispiel zu jedem Termin pünktlich zu erscheinen, nachzugehen. Wichtig hierbei ist die Art und Weise der <strong>Motivation</strong>, um sein angestrebtes Ziel zu erreichen. 
<br><br>
<div class="sources">
Charakter – Vererbt oder angeeignet? https://competenceselling.wordpress.com/2007/11/21/charakter-vererbt-oder-angeeignet/ (Letzter Zugriff: 30.11.2014)<br>

Wie lange braucht es, um sein Verhalten dauerhaft zu ändern? http://www.persoenlichkeits-blog.de/article/1871/wie-lange-braucht-es-um-sein-verhalten-dauerhaft-zu-aendern (Letzter Zugriff: 02.12.2014)<br>

Möller, C.: Verhalten ändern - aber wie? http://www.boell-sh.de/fileadmin/user_upload/boellfiles/dokumente/Fachbeitraege_mit_Logo/08_-_Verhalten_aendern_-_aber_wie____Logo.pdf (Letzter Zugriff: 03.12.2014)</div>
</p>
<br>


<div class="buttoncentered">
 <a href="" ng-click="back()" ng-show="num > 0"> <button type="button" type="submit" class="btn2"><img src="bilder/back.png" width="25">Zurück</button></a>
  <a href="" ng-click="next()" ng-show="num<content.length-1"> <button type="button" type="submit" class="btn"><img src="bilder/confirm.png" width="25">Weiter</button></a>
</div>
</div>

</body>
</html>
