<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>grownect</title>
	<link rel="stylesheet" type="text/css" href="./style/stylesheet.css">

<script src="./js/jquery-1.10.2.js" type="text/javascript"></script>
<script type="text/javascript">


</script>
</head>
<body bgcolor="black";>

	<div id="kopfleiste">
		<img src="Bilder/Logo grownect.png" height="60" style="margin-left:20px">
	</div>
	

<!--<div id="infobox">
<ul>
	<li><strong>Schema</strong></li>
	<br> 
	<li> Notizen stehen immer hier -
		<br> zu einzelnen Elementen.</li> 
</ul>
</div>-->


<div id="menu">
		<ul>
			<li><a href="trailer.html">Trailer</a></li>
			<li><a href="connect.html">Connect</a></li>
			<li class="active"><a href="recherche.html">Recherche</a></li>
			<li><a href="konzept.html">Konzept</a></li>
			<li><a href="interaktion.html">Interaktion...</a></li>
			<li><a href="technik.html">Technik</a></li>
			<li><a href="design.html">Design</a></li>
			<li><a href="management.html">Management</a></li>
			<li><a href="kontakt.html">Kontakt</a></li>
		</ul>
	</div>
	<div id="inhalt">
		<h2>WISSENSCHAFTLICHE GRUNDLAGEN</h2>

		<p><strong>„Man kann nicht nicht kommunizieren!“ </strong> ist der Grundsatz der Kommunikationstheorie von Paul Watzlawick. Sobald zwei Personen einander wahrnehmen, kommunizieren sie miteinander, da jedes Verhalten kommunikativen Charakter hat. Watzlawick versteht also Verhalten jeder Art, sowohl verbal als auch nonverbal, bewusst und unbewusst, als Kommunikation. <br>
Kommunikation ist somit unvermeidbar, immer vorhanden und von enormer Wichtigkeit, um sich austauschen zu können. Das Zusammenleben von Menschen erfordert dauerhafte Kooperation.<br><br>
Der Grundsatz des Projekts ist, Kommunikation nicht zu ersetzen oder ihr aus dem Weg zu gehen, sondern eine neue Form von Kommunikation als Unterstützungshilfe zu schaffen, um mögliches Konfliktpotential im Vorhinein zu vermeiden.
<br><br>
Aufgrund unterschiedlicher Erziehung, verschiedenen Vorstellungen, Erwartungen sowie diversen Persönlichkeitsmerkmalen ergibt sich ein gewisses Konfliktpotential. Schnell können Auseinandersetzungen bezüglich Verpflichtungen, die beispielsweise nicht rechtzeitig erledigt werden oder Gewohnheiten, derer man sich oftmals gar nicht bewusst ist entstehen. Man spricht von einem Konflikt, wenn zwei Elemente gegensätzlich oder unvereinbar sind. <br><br>
Hinsichtlich des Projekts ist es wichtig, beide Parteien, die an der Auseinandersetzung beteiligt sind zu betrachten. Während die eine Person beispielsweise emotional unkontrolliert ist und Ärger verspürt, ist die andere Person ruhig, gelassen und geht ihren Gewohnheiten weiterhin nach, da sie sich dem bevorstehenden Problem völlig unbewusst ist. Ziel ist es, einerseits nachsichtig zu werden, jedoch sich auch des Problems bewusst zu werden und aufeinander einzugehen. Hierbei ist es wichtig, „sich einen Spiegel vorzuhalten“, um sich selbst reflektieren zu können.</p>
<br><br>
<div class="sources">Watzlawick, P. Man kann nicht nicht kommunizieren. Das Lesebuch. Hersg. Von Trude Trunk. 
Huber Verlag Bern, 2011</div>

<div class="buttoncentered">
 <a href="" ng-click="back()" ng-show="num > 0"> <button type="button" type="submit" class="btn2"><img src="bilder/back.png" width="25">Zurück</button></a>
  <a href="" ng-click="next()" ng-show="num<content.length-1"> <button type="button" type="submit" class="btn"><img src="bilder/confirm.png" width="25">Weiter</button></a>
</div>

</div>

</body>
</html>
