
		body {
			position:relative;
			border:1px dotted white;
			background-color: black;
			width: 270px;
			height: 600px;			
			margin:0 auto;
			padding: 0;
			font-family: 'PT Sans', sans-serif; 
			font-size: 16px;
			/*line-height: 12px;*/
			color:white;
		}


		.container {
			position: absolute;
			width: 300px;
			height:300px;
			margin:-790px 0px 0px 870px;
			
			padding:30px;
		}

		.kasteneinbild {
				display:inline-block;
				margin: auto;
				text-align:center;
				vertical-align:middle;
				background-color:#ffffff;
				width: 1000px;
				height: 853px;
				}

		button{
			display:inline-block;
			left: 50%;
			top:50%;
			transform:translate(-50%,0);
   			background-color: #000000;
   			border:0px;
   			color: #ffffff;
   			font-size: 16px;
   			border: 1px solid #ccc;
   			padding: 4px 18px 13px 0;
   			margin:3px;
		}


		button.btn{
			display:inline-block;
			margin:20px;
		}


		.btn img{
			margin:0 10px;
		}










