body {
	margin: 0px;
	padding: 8px;
	
	font-family: "Helvetica Neue", "Helvetica", "Arial", "sans serif";
	color: #555555;
	background-color: black;
}

strong {
	font-weight: bold;
}

#container {
	width: inherit;
	max-width: 1920px;
	margin: 0 auto 0 auto;
}

#kopfleiste {
	width: inherit;
	height: 80px;
	margin: 0px 0px 15px 0px;
	padding: 0px 0px 0px 15px;

	/*background-image: url("Bilder/Logo grownect.png");
	background-size: 80px;*/
	
	background-color: black;
}

#kopfleiste h1 {
	margin: 0px;
	padding: 0px;
	
	font-size: 36px;
	line-height: 80px;
	color: #FAF9F8;
}

#infobox {
	position:fixed;	/*Jedem nebenstehenden block diese
	funktion auch geben!*/
	width: 300px;
	height: 300px;
	margin: 30px 15px 0px 900px; /*im uhrzeigersinn immer 4 werte bei auto immer zentriert von top aus top right bottom left*/
	padding: 10px;
	
	background-color: blue;

	/*position:relative;*/
	zoom: 1;

	display:none; /*Menue soll nicht sichtbar sein nur wenn man auf pfeil klickt*/
}

#clickme {
	position: fixed;
	margin-left: 1020px;
}

#menu {
	margin-top: 200px;
	position: fixed;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	

}

#menu li {
	font-size: 16px;
	padding: 4px 10px 4px 10px; /*Zeilenabstand*/
	opacity: .2;
	text-decoration: none;
	transition:all 1s ease-out;
}

#menu li.active {
	opacity:1;
}

#menu li a {
	text-decoration: none;
}

#menu .active a { 
  	opacity: 1;
  	text-decoration: none;
  	background-color:white;
	color:black;
  	padding:6px; 
}


 #menu ul:hover li {
 	text-decoration: none;
	opacity: 1;
}




#inhalt {
	width: 800px; /*feste Breite!!!*/
	height: auto;
	overflow: hidden; /*Damit das Layout mit float funktioniert*/
	padding: 10px 15px 10px 15px;
	margin: 200px;
	background-color: #FAF9F8;
}

#inhalt h2 {
	text-align: left;
	font-size: 16px;
	line-height: 1.4;
}

#inhalt p {
	font-size: 15px;
	line-height: 1.3;
}

#startbild {
	float: none;
	margin: 0 auto;
	text-align:center;
	}