body {
	width:1366px;
	max-height: 768px;
	margin: 0px;
	padding: 8px;
	
	font-family: 'PT Sans', sans-serif;
	/*background-color: black;*/
	background:url("_MG_8030.JPG") center center no-repeat;
}

strong {
	font-weight: bold;
}


#kopfleiste {
	position:fixed;
	width: inherit;
	height: 80px;
	margin: 10px 0px 15px 0px;
	padding: 0px 0px 0px 15px;

	/*background-image: url("Bilder/Logo grownect.png");
	background-size: 80px;*/
	
	/*background-color: black;*/
}

#kopfleiste h1 {
	margin: 0px;
	padding: 0px;
	
	font-size: 36px;
	line-height: 80px;
	color: #FAF9F8;
}

#infobox {
	background-image:url("bilder/infobox.png");
	position:fixed;	/*Jedem nebenstehenden block diese
	funktion auch geben!*/
	width: 300px;
	height: 300px;
	margin-top:185px;
	margin-left: 1200px; /*im uhrzeigersinn immer 4 werte bei auto immer zentriert von top aus top right bottom left*/
	padding: 0px;
	zoom: 1;

	/*display:none; /*Menue soll nicht sichtbar sein nur wenn man auf pfeil klickt*/
}

 #infobox:hover {
 	margin-left:900px;
 	transition:all 1s ease-out;
}

		#infobox ul {
			position: absolute;
			padding:10px;
			margin-left: 60px;
			margin-top: 10px;
			color:black;
			text-decoration:none;
		}

		#infobox ul li{
			text-decoration:none; /*fuck you punkte*/
		}

	

#menu {
	margin-top: 185px;
	position: fixed;

}

#menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	

}

#menu li {
	font-size: 16px;
	padding: 4px 10px 4px 10px; /*Zeilenabstand*/
	opacity: .2;
	text-decoration: none;
	transition:all 1s ease-out;
}

#menu li.active {
	opacity:1;
}

#menu li a {
	text-decoration: none;
	color: white;
	font-size: 14px;
	padding: 30px 10px 30px 0px;
	
}

#menu .active a { 
  	opacity: 1;
  	text-decoration: none;
  	background-color:white;
	color:black;
  	padding:6px; 
}


 #menu ul:hover li {
 	text-decoration: none;
	opacity: 1;
}


#inhalt {
	width: 700px; /*feste Breite!!!*/
	height: auto;
	overflow: hidden; /*Damit das Layout mit float funktioniert*/
	padding: 10px 15px 10px 15px;
	margin-top: 185px;
	margin-left: 210px;
	background-color: #333;
	opacity: .7;
	color:white;
}

#inhalt h2 {
	text-align: left;
	font-size: 16px;
	line-height: 1.4;
}

#inhalt p {
	font-size: 15px;
	line-height: 1.3;
	padding: 30px 15px 30px 15px;
}

#startbild {
	float: none;
	margin: 0 auto;
	text-align:center;
	}