body {
	/*width:1366px;*/
	min-height: 768px;
	margin: 0px;
	padding: 8px;
	font-family: 'PT Sans', sans-serif;
	background:url('../Bilder/_MG_8030.JPG') no-repeat fixed center center;
}

a:link, a:visited {
	color:#fff;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

strong {
	font-weight: bold;
}


#kopfleiste {
	position:fixed;
	width: inherit;
	height: 80px;
	margin: 10px 0px 15px 0px;
	padding: 0px 0px 0px 15px;
}

#kopfleiste h1 {
	margin: 0px;
	padding: 0px;
	
	font-size: 36px;
	line-height: 80px;
	color: #FAF9F8;
}

#infobox {
	background-image:url("../Bilder/infobox.png");
	position:fixed;	/*Jedem nebenstehenden block diese
	funktion auch geben!*/
	z-index: 100;
	width: 300px;
	height: 300px;
	margin-top:150px;
	right: -248px; 
	padding: 0px;
	zoom: 1;
	font-size: 13px;
 	transition:all 1s ease-in;	
}

 #infobox:hover {
 	right:0;
 	transition:all .5s ease-out;	
}

#infobox ul {
	position: absolute;
	padding:10px;
	margin-left: 60px;
	margin-top: 10px;
	color:black;
	
}

#infobox ul li{
	list-style-type: none; /*fuck you punkte*/
}

#infobox a  {
	color:#333;
}

#menu {
	margin-top: 185px;
	position: fixed;
	margin-left: 20px;

}

#menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#menu li {
	font-size: 16px;
	padding: 8px 10px 8px 10px; /*Zeilenabstand*/
	opacity: .2;
	text-decoration: none;
	transition:all 1s ease-out;
}

#menu li.active {
	opacity:1;
}

#menu li a {
	text-decoration: none;
	color: white;
	font-size: 14px;
  	padding: 6px 6px 6px 0;
  	transition:all .3s; 	
}


#menu li:hover a {
	background:rgba(255,255,255,0.1);
	padding:6px;
}

#menu .active a, #menu li.active:hover a { 
  	opacity: 1;
  	text-decoration: none;
  	background-color:white;
	color:black;
  	padding:6px; 
}


 #menu ul:hover li {
 	text-decoration: none;
	opacity: 1;
}


#inhalt {
	width: 700px; /*feste Breite!!!*/
	height: auto;
	overflow: hidden; /*Damit das Layout mit float funktioniert*/
	padding: 0;
	margin-top: 185px;
	margin-left: 260px;
	/*background-color: rgba(51,51,51,0.7); */
	/* opacity: .7; besser nur den Hintergrund transparent, nicht alles! ;) */
	color:white;
	/*border: 1px solid rgba(204,204,204,0.7); */
}

#inhalt h2 {
	padding: 0px 0px 0px 15px;
	text-align: left;
	font-size: 16px;
	line-height: 1.4;
}

#inhalt p {
	padding: 0px 0px 0px 15px;
	font-size: 13px;
	line-height: 1.8;
}

/*#inhalt p.klein {
	padding: 0px 0px 0px 15px;
	font-size:10px;*/
}

#inhalt h3 {
	font-size: 17px;
	line-height: 1.3;
	padding: 0px 0px 0px 15px;
}

#inhalt h3.rahmen {
	padding: 5px 0px 5px 15px;
	margin:15;
	font-size: 17px;
	/*background-color: white;
	color:black;*/
	text-align:left;
}


#startbild {
	float: none;
	margin: 0 auto;
	text-align:center;
}

/*.buttoncentered{
	margin: 0 auto;
	text-align: center;
}*/

.btn img{
	margin:0 10px;
}


.stateImage {
    border: 1px solid #333;
    float: left;
    margin: 15px;
    width: 430px;
}

.stateImage2 {
    border: 1px solid #333;
    margin: 15px;
    width: 600px;
}

/*button{
	display: inline-block;
	width:120px;
	margin-left: 300px;
	margin-top: 80px;
	transform:translate(-50%,0);
	background-color: #333;
	color: #ffffff;
	font-size: 11px;
	border: 1px solid #ccc;
	padding: 1px 11px 11px 0;
	opacity: .7;
	vertical-align: center;
}*/


.buttonbox {
	clear:both;
	margin:-50px 260px;
}

.btn2 img{
	margin:0 10px;
}



button{
	display:inline-block;
	width:120px;
	margin-left:10px;
	margin-bottom: 70px;
	margin-top: 80px;
	/*transform:translate(-5%,0);*/
		background-color: #333;
		color: #ffffff;
		font-size: 11px;
		border: 1px solid #ccc;
		padding: 1px 11px 11px 0;
		opacity: .7;
		vertical-align: center;
}



.usercontainer{
	margin-top: 50px;
	margin-left:260px;
}

.usercontainer > div {
	width:150px;
	display:inline-block;
}

.user > img, .user > a > img {
	width:100%;
	height:100%;
	border:none;
	border-radius:50%;
}



.small .user{
	display: inline-block;
	background-size: cover;
	width: 100px;
	height: 100px;
	border-radius: 150px;
	margin: 25px;			
	text-align: center;
	vertical-align: top;
	
	
}

.details {
	color:white;
	text-align: center;
	font-size: 12px;
}


.sources {
	font-size: 10px;
	color:#333333;
	margin-left:15px;
}




	